.storytxt{
    margin-top: 5%;
    backdrop-filter: blur(10px);
}
.sp1{
    background: url('../../assets/Images/forest.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.sp2{
    background: url('../../assets/Images/mansionphoto.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.sp3{
    background: url('../../assets/Images/entry.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.sp4{
    background: url('../../assets/Images/room&objects.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.sp5{
    background: url('../../assets/Images/lostroom.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.sp6{
    background: url('../../assets/Images/basemententry.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.default-bg{
    background: url('../../assets/Images/bgmain.png');
    background-repeat: no-repeat;
    background-size: cover;
}