.s0 { opacity: .5;fill: url(#g1) } 
.s1 { opacity: .5;fill: #ffffff } 
.s2 { opacity: .5;fill: #000000 } 
.s3 { opacity: .5;fill: url(#g2) } 
.s4 { opacity: .5;fill-opacity: .1;fill: url(#g3) } 
.s5 { opacity: .5;fill: url(#g4) } 
.s6 { opacity: .5;fill: #e0e0e0 } 
.s7 { opacity: .5;fill-opacity: .3;fill: url(#g5) } 
.s8 { opacity: .5;fill: url(#g6) } 
.s9 { opacity: .5;fill-opacity: .2;fill: url(#g7) } 
.s10 { opacity: .5;fill: url(#g8) } 
.s11 { opacity: .5;fill-opacity: .3;fill: url(#g9) } 
.s12 { opacity: .5;fill: url(#g10) } 
.s13 { opacity: .5;fill-opacity: .2;fill: url(#g11) } 
.s14 { opacity: .5;fill: url(#g12) } 
.s15 { opacity: .5;fill-opacity: .3;fill: url(#g13) } 
.s16 { opacity: .5;fill: url(#g14) } 
.s17 { opacity: .5;fill-opacity: .2;fill: url(#g15) } 
.s18 { opacity: .5;fill: url(#g16) } 
.s19 { opacity: .5;fill-opacity: .3;fill: url(#g17) } 
.s20 { opacity: .5;fill: url(#g18) } 
.s21 { opacity: .5;fill-opacity: .2;fill: url(#g19) } 
.s22 { opacity: .5;fill: url(#g20) } 