body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  animation: flicker 10s infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 1;
  }
  9% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
  11% {
    opacity: 0.5;
  }
  12% {
    opacity: 1;
  }
  14% {
    opacity: 1;
  }
  15% {
    opacity: 0.2;
  }
  16% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  81%{
    opacity: 0.5;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
